<div class="container mb-3">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Family Services Finder</h1>
        </div>
    </div>
    <div *ngIf="!showStartOver" class="row">
        <div class="col-12">
            <h3>Pick a Place</h3>
        </div>
    </div>
    <div *ngIf="!showStartOver" class="row">
        <div class="col-12">
            <div class="form-check form-check-inline">
                <input (click)="clickHere()" [(ngModel)]="location" #radio class="form-check-input" type="radio" name="inlineRadioOptions"
                    id="inlineRadio1" value="here">
                <label class="form-check-label" for="inlineRadio1">Here</label>
            </div>
            <div class="form-check form-check-inline">
                <input (click)="clickMap()" [(ngModel)]="location" #radio class="form-check-input" type="radio" name="inlineRadioOptions"
                    id="inlineRadio2" value="clickMap">
                <label class="form-check-label" for="inlineRadio2">Click the map</label>
            </div>
        </div>
    </div>
    <div [style.display]="!showMap ? 'none' : 'block'" class="row">
        <div #gmap style="width:100%;height:250px"></div>
    </div>
    <ng-container *ngIf="locationSet && !showStartOver">
        <div class="row">
            <div class="col-12">
                <h3>Select a Distance</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <select (change)="setDistance()" #distance [(ngModel)]="selectedDistance" class="custom-select custom-select-lg mb-3">
                    <option value="0" disabled hidden>Click here</option>
                    <option value="1">Short Walk</option>
                    <option value="3">Long Walk</option>
                    <option value="5">Car/Bus/Train Ride</option>
                </select>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="distanceSet && !showStartOver">
        <div class="row">
            <div class="col-6">
                <div class="row mt-2">
                    <div class="col-12">
                        <button (click)="setPrimaryTag('childCare')" type="button" class="btn btn-block" [ngClass]="primaryTag === 'childCare' ? 'btn-secondary' : 'btn-outline-secondary'">Child
                            Care</button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <button (click)="setPrimaryTag('facilities')" type="button" class="btn btn-block" [ngClass]="primaryTag === 'facilities' ? 'btn-secondary' : 'btn-outline-secondary'">Facilities</button>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <button (click)="setPrimaryTag('childAndFamilyPrograms')" type="button" class="btn btn-block"
                            [ngClass]="primaryTag === 'childAndFamilyPrograms' ? 'btn-secondary' : 'btn-outline-secondary'">Child
                            & Family Programs</button>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <button (click)="setPrimaryTag('schools')" type="button" class="btn btn-block" [ngClass]="primaryTag === 'schools' ? 'btn-secondary' : 'btn-outline-secondary'">Schools</button>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <button (click)="setPrimaryTag('libraries')" type="button" class="btn btn-block" [ngClass]="primaryTag === 'libraries' ? 'btn-secondary' : 'btn-outline-secondary'">Libraries</button>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <button (click)="setPrimaryTag('communityHubs')" type="button" class="btn btn-block" [ngClass]="primaryTag === 'communityHubs' ? 'btn-secondary' : 'btn-outline-secondary'">Community
                            Hubs</button>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <button (click)="setPrimaryTag('childrenYouthAndParenting')" type="button" class="btn btn-block"
                            [ngClass]="primaryTag === 'childrenYouthAndParenting' ? 'btn-secondary' : 'btn-outline-secondary'">Children,
                            Youth & Parenting</button>
                    </div>

                </div>
            </div>
            <div *ngIf="primaryTag !== null && tagsArray[primaryTag].length > 0" class="col-6">
                <div *ngFor="let secondaryTag of tagsArray[primaryTag]" class="row mt-2">
                    <div class="col-12">
                        <!-- <button type="button" class="btn btn-block" [ngClass]="primaryTag === 'communityHubs' ? 'btn-secondary' : 'btn-outline-secondary'">Community Hubs</button> -->
                        <button (click)="addSecondaryTag(secondaryTag)" type="button" class="btn btn-block" [ngClass]="isSecondaryTagPresent(secondaryTag) ? 'btn-info' : 'btn-outline-info'">{{
                            secondaryTag }}</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <div *ngIf="!showStartOver" class="row mt-3">
        <div class="col-6 col-offset-3">
            <button (click)="resetForm()" type="button" class="btn btn-block btn-warning">Reset</button>
        </div>
        <div *ngIf="tags.length > 0 && !showStartOver" class="col-6 col-offset-3">
            <button (click)="searchPlaces()" type="button" class="btn btn-block btn-success">Find Places!</button>
        </div>
    </div>
    <ng-container *ngIf="showStartOver && pois.length > 0">
        <div class="row">
            <div class="col-1">Number</div>
            <div class="col-4">Name</div>
            <div class="col-3">Address</div>
            <div class="col-2">Phone</div>
            <div class="col-2">Distance</div>
        </div>
        <div *ngFor="let poi of pois; let i = index" class="row">
            <div class="col-1 text-center">{{ i }}</div>
            <div class="col-4">{{ poi.Name }}</div>
            <div class="col-3">{{ poi.Address }}</div>
            <div class="col-2">{{ poi['Phone Number'] }}</div>
            <div class="col-2">{{ poi.Distance }} km</div>
        </div>
    </ng-container>
    <div *ngIf="showStartOver" class="row mt-3 justify-content-center">
        <div class="col-6">
            <button (click)="resetForm()" type="button" class="btn btn-block btn-warning">Start Over</button>
        </div>
    </div>
</div>
<ngx-smart-modal #myModal identifier="myModal">
    <h1>{{ clickedPoi['Name'] }}</h1>
    <h3 *ngIf="clickedPoi['Url']">Website: {{ clickedPoi['Url'] }}</h3>
    <h3 *ngIf="clickedPoi['Address']">Address: {{ clickedPoi['Address'] }}</h3>
    <h3 *ngIf="clickedPoi['Phone Number']">Phone: {{ clickedPoi['Phone Number'] }}</h3>
    <h3 *ngIf="clickedPoi['Distance']">Distance: {{ clickedPoi['Distance'] }} km</h3>
    <h4 *ngFor="let data of clickedPoi['Info']">{{ data }}</h4>

</ngx-smart-modal>
